/* UTILITIES */

.container,
.row {
  height: 100%;
}

/* TESTI */

h1 {
  font-size: 4.2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
  margin-top: 6vh;
  margin-bottom: 0;
  text-transform: uppercase;
}

h3 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  margin-top: 0;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-size: 1.5rem;
}

nav

/* colori dei testi*/
.fff {
  color: #fff;
}
.brand {
  color: #1abc9c;
}
.brand:hover {
  color: #1abc9c;
}

/* colori in background */

.bg-secondary {
  background-color: #2c3e50;
}
.bg-semi-darkblue {
  background-color: #3a546d;
}

.bg-brand {
  background-color: #1abc9c;
}

/* full width and height */

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

/* posizioni */

.center-in-abs {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* COMPONENT STELLINA */

.star-component {
  position: relative;
  min-height: 7vh;
  width: 200px;
  margin: 0 auto;
}

.star-component .line {
  width: 37.5%;
  height: 5px;
  background-color: #303c54;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.star-component .line.sx {
  left: 0;
}
.star-component .line.dx {
  right: 0;
}
.star-component .fa-star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

/* MACRO-SEZIONI */

section.bg-brand {
  margin-top: 10%;
  padding-bottom: 8%;
}

.social.bg-semi-darkblue {
  padding: 2% 0;
}

footer {
  height: 8vh;
}

/* STILI INTERNI ALLA NAV */

/* azzeramento colore navbar */
.navbar-default {
  background-color: transparent;
  padding-top: 2vh;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default {
  border: none;
}

/* sitemazione testo del brand */
.navbar-default .navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
  transition: color 0.4s;
}
.navbar-default .navbar-brand:hover {
  color: rgb(255, 166, 0);
}

/* sistemazione e sitemazione hover
dell'hamburger */

.navbar-default .navbar-toggle {
  transition: all 0.4s;
}

.navbar-toggle:hover .icon-bar {
  transition: all 0.4s;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
  color: rgb(255, 166, 0);
  border-color: rgb(255, 166, 0);
}

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: rgb(255, 166, 0);
}

/* sitemazione link navbar */
.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 700;
}

/* SEZIONE JUMBO */

header .col-xs-8 {
  height: 100%;
  border: 1px solid brown;
}

header img {
  width: 15vw;
  min-width: 170px;
  margin-top: 4vh;
  border-radius: 10px;
}

header h4 {
  margin-bottom: 7vh;
}

/* sezione delle foto in cambo
bianco sotto jumbo */

.photo-cont {
  margin-top: 10%;
}
.photo-cont img {
  border-radius: 10px;
}

/* SEZIONE ABOUT VERDE ACQUA */

.bg-brand .container {
  color: #fff;
}
.bg-brand .white-elem.line {
  background-color: #fff;
}
.bg-brand .white-elem {
  color: #fff;
}

.text-divide-in-col {
  columns: 200px;
  margin: 1vh 0 5vh;
}

.bg-brand a {
  display: block;
  padding: 7px 5px;
  color: #fff;
  border: 1px solid #fff;
  width: 120px;
  border-radius: 5px;
  margin: 0 auto;
}

.bg-brand a i {
  margin-right: 5px;
}

/* SEZIONE FORM IN CAMPO BIANCO */

.form .col-xs-8 {
  height: 100%;
}

.form form {
  margin: 4vh 0 6vh 0;
  height: 60%;
  width: 100%;
}

/* STILI INTERNI FORM */

.form-group > input {
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  height: 4.3vh;
}

.form-group > input:focus {
  box-shadow: none;
}

/* colori e allineamento placeholder */
.form-group > input {
  padding: 0;
}

.form-group > input::placeholder {
  color: #333;
}
textarea::placeholder {
  color: #333;
}

/* stilizzazione textarea */

textarea {
  border: none;
  border-bottom: 1px solid #aaa;
  width: 100%;
  height: 15vh;
  margin-bottom: 1vh;
}
textarea:focus {
  outline: none;
  border-bottom: 1px solid #aaa;
  border-bottom: 1px solid #66afe9;
}

/* stilizzazione btn
e btn hover del form */

.btn.my-form-btn {
  display: block;
  color: #fff;
  transition: all 0.3s;
}
.btn.my-form-btn:hover {
  display: block;
  color: #1abc9c;
  background-color: transparent;
  border: 1px solid #1abc9c;
}

/* SEZIONE PRE-FOOTER DOPO FORM */

.social .col-sm-10 {
  height: 100%;
}
/* tutti i contenitori sezione
blu scuro dopo forum */

.wrapper {
  text-align: center;
  padding-top: 8%;
}
.wrapper p {
  padding: 0 2vw;
}

/* STILI INTERNI SEZIONE SOCIAL */

.social h3,
.social i,
.social p,
footer p {
  color: #fff;
}

.social.list {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.social.list li {
  list-style: none;
  display: inline-block;
}

ul.social li .fab {
  font-size: 1.5rem;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 0.4vw;
  transition: transform 0.2s, color 0.4s;
}

ul.social li .fab:hover {
  transform: scale(1.1);
  color: rgb(255, 166, 0);
  border-color: rgb(255, 166, 0);
}

.fab.fa-facebook-f {
  width: 41px;
}
