/* COSE PER FAR FUNZIONARE
IL PLAYGROUND */

body {
  background-color: lightgrey;
}

.navbar-default {
  background-color: lightgrey;
}

/* COSE CHE CI SONO GIA'
FUORI DAL PLAYGROUND */

.bg-brand {
  background-color: #1abc9c;
}
.fff {
  color: #fff;
}

/* STILI INTERNI ALLA NAV */
/* azzeramento colore navbar */

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default {
  border: none;
}

/* sitemazione testo del brand */
.navbar-default .navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
}
/* sitemazione link navbar */
.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 700;
}

/* STILI INTERNI FORM */
.btn.my-form-btn {
  display: block;
}

.form-group > input {
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  height: 4.3vh;
}

input: {
}

.form-group > input:focus {
  box-shadow: none;
}

::placeholder {
  color: #333;
  /* left: 0;
  margin-left: 0;
  text-align: left; */
}

textarea {
  border: none;
  border-bottom: 1px solid #aaa;
  width: 100%;
  height: 15vh;
}
textarea:focus {
  outline: none;
  border-bottom: 1px solid #aaa;
  border-bottom: 1px solid #66afe9;
}

/* STILI INTERNI SEZIONE SOCIAL */

.social.list {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.social.list li {
  list-style: none;
  display: inline-block;
}

ul.social li .fab {
  font-size: 2rem;
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 10px;
}

.fab.fa-facebook-f {
  width: 54px;
}

.social-wrapper {
  text-align: center;
}

/* COMPONENT STELLINA */

.star-component {
  position: relative;
  min-height: 7vh;
  width: 30vw;
  margin: 0 auto;
}

.star-component .line {
  width: 37.5%;
  height: 5px;
  background-color: #303c54;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.star-component .line.sx {
  left: 0;
}
.star-component .line.dx {
  right: 0;
}
.star-component .fa-star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}
